
ReversiApp/.vs/ProjectEvaluation/reversiapp.metadata.v6.1
ReversiApp/.vs/ProjectEvaluation/reversiapp.projects.v6.1
ReversiApp/.vs/ReversiApp/v17/.futdcache.v2
ReversiApp/.vs/ReversiApp/v17/.suo
ReversiApp/.vs/ReversiApp/FileContentIndex/dfc5829c-cfe1-4380-8178-e503f9a47835.vsidx
ReversiApp/.vs/ReversiApp/FileContentIndex/d6dca401-121f-4981-a662-4a9b0cf2055d.vsidx
ReversiApp/.vs/ReversiApp/FileContentIndex/91fca412-1044-4694-8b74-0b6349a6fe9e.vsidx
ReversiApp/.vs/ReversiApp/FileContentIndex/1eb84641-8297-4dfe-bbd7-a5b3a931914c.vsidx
ReversiApp/.vs/ReversiApp/DesignTimeBuild/.dtbcache.v2
*.v2
