@model ReversiApp.Models.SpelerModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Speler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SpelerId" />
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wachtwoord" class="control-label"></label>
                <input asp-for="Wachtwoord" class="form-control" />
                <span asp-validation-for="Wachtwoord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <input asp-for="Rol" class="form-control" />
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Token" class="control-label"></label>
                <input asp-for="Token" class="form-control" />
                <span asp-validation-for="Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kleur" class="control-label"></label>
                <select asp-for="Kleur" asp-items="new SelectList(Enum.GetValues(typeof(Kleur)))" class="form-control"></select>
                <span asp-validation-for="Kleur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
