@model UserAndRolesModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="TwoFactorEnabled" class="control-label"></label>
                @Html.CheckBoxFor(m => m.TwoFactorEnabled)
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Highscore"></label>
                    <input asp-for="Highscore" class="form-control" />
                    <span asp-validation-for="Highscore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rol" class="control-label"></label>
                    <select asp-for="Rol" asp-items="ViewBag.Rollen" class="form-control"></select>
                    <span asp-validation-for="Rol" class="text-danger"></span>
                </div>
            }
            <button type="submit" class="btn btn-primary">Aanpassen</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}